<! DOCTYPE html>
<html lang="lv" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MOVIE'S COMMENTS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3> TOP RATINGS </h3>
    <form th:action="@{/movie/search}" method="get">
        <input type="text" name="movieTitle" id="movieTitle" th:value="${movieTitle}"/>
        <input type="submit" value="SEARCH MOVIE"/>
    </form>
   <!-- <div th:if="${not #lists.isEmpty(movies)}"> -->
    <div>
        <table class="table table-bordered">
            <tr>
            <tr>
                <th>REVIEW ID</th>
                <th>RATING</th>
         <!--       <th>Review</th> -->
                <th>TITLE</th>
      <!--          <th>YEAR</th> -->
     <!--           <th>POSTER</th>  -->
            </tr>
            <tr th:each="review: ${reviews}">
                <td th:text="${review.reviewId}"/>
                <td th:text="${review.averageRating}"/>
        <!--        <td th:text="${review.text}"/> -->
                <td th:text="${review.movieTitle}"/>
     <!--           <td th:text="${review.movieYear}"/> -->

         <!--       <td>
                    <img th:src="${review.moviePoster}" width="110"/>
                </td> -->
            </tr>
        </table>
        <div>
            <a th:href="@{/movie}" class="btn btn-outline-primary"> BACK TO SEARCH MOVIE </button></a>
            <a th:href="@{/}" class="btn btn-outline-primary"> EXIT </button></a>
            <a th:href="@{/login}" class="btn btn-outline-primary"> LOGIN </a>
            <a th:href="@{/logout}" class="btn btn-outline-primary"> LOGOUT </button></a>
        </div>


    </div>
</div>
</body>