<! DOCTYPE html>
<html lang="lv" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MOVIE'S COMMENTS</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3> TOP RATINGS </h3>
    <form th:action="@{/movies/search}" method="get">
        <input type="text" name="movieTitle" id="movieTitle" th:value="${movieTitle}"/>
        <input type="submit" value="SEARCH MOVIE"/>
    </form>
    <div th:if="${not #lists.isEmpty(movies)}">
        <table class="table table-bordered">
            <tr>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>YEAR</th>
                <th>POSTER</th>
            </tr>
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.imdbID}"/>
                <td th:text="${movie.title}"/>
                <td th:text="${movie.year}"/>
                <td>
                    <img th:src="${movie.poster}" width="110"/>
                </td>
            </tr>
        </table>
        <div>
            <a th:href="@{/movie}" class="btn btn-outline-primary"> HOME </button></a>
            <a th:href="@{/home}" class="btn btn-outline-primary"> EXIT </button></a>
            <a th:href="@{/login}" class="btn btn-outline-primary"> LOGIN </button></a> </div>
    </div>
</div>
</body>