<! DOCTYPE html>
<html lang="lv" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Top Reviews</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="btn-group" role="group" aria-label="Basic example">
    <a th:href="@{/movie}" class="btn btn-outline-primary"> Home </a>
    <a th:href="@{/}" class="btn btn-outline-primary"> To Welcome Page </a>
    <a th:href="@{/login}" class="btn btn-outline-primary" sec:authorize="!isAuthenticated()"> Log In </a>
    <a th:href="@{/logout}" class="btn btn-outline-primary" sec:authorize="isAuthenticated()"> Log Out </a>
</div> <br>
<div class="welcome"> Logged in as: <span sec:authentication="name"> </span></div>
<div class="container">
    <h3> TOP RATINGS </h3>
    <form th:action="@{/movie/search}" method="get">
        <input type="text" name="movieTitle" id="movieTitle" th:value="${movieTitle}"/>
        <input type="submit" value="SEARCH MOVIE"/>
    </form>
   <!-- <div th:if="${not #lists.isEmpty(movies)}"> -->
    <div>
        <table class="table table-bordered">
            <tr>
            <tr>
                <th>REVIEW ID</th>
                <th>REVIEW</th>
                <th>RATING</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
            </tr>
            <tr th:each="review: ${reviews}">
                <td th:text="${review.reviewId}"/>
                <td th:text="${review.text}"/>
                <td th:text="${review.averageRating} + '/' + ${review.ratingAmount}"/>
                <td th:text="${review.movieTitle} + ', ' + ${review.year}"/>
                <td>
                    <span th:text="${review.userName}"/>
                    <a th:href="@{/{username}/reviews(username=${review.userName})}" class="btn btn-outline-primary">
                        <span>Visit</span>
                    </a>
                </td>
            </tr>
        </table>



    </div>
    </br></br>


</div>
<img src= "https://c1.wallpaperflare.com/preview/39/122/576/film-movie-cinema-reel.jpg" style="width:100%" height="250px"/>
</body>