<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    </div>
    <title>One Movie</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="btn-group" role="group" aria-label="Basic example">
    <a th:href="@{/movie}" class="btn btn-outline-primary"> Home </a>
    <a th:href="@{/}" class="btn btn-outline-primary"> To Welcome Page </a>
    <a th:href="@{/login}" class="btn btn-outline-primary" sec:authorize="!isAuthenticated()"> Log In </a>
    <a th:href="@{/logout}" class="btn btn-outline-primary" sec:authorize="isAuthenticated()"> Log Out </a>
</div> <br>
<div class="welcome"> Logged in as: <span sec:authentication="name"> </span></div>
<div id="full_page">
    <div class="container" id="first">
        <h3>COMMENTS ABOUT</h3>
        <div style="overflow: hidden;" th:text="${movie.title}"/>
        <div th:text="${movie.year}"/>
        <div>
            <img th:src="${movie.poster}" height="300px"/>
        </div>
    </div>


    <div id="second">
        <table class="table table-bordered">
            <tr>
                <th>ALL COMMENTS</th>

            </tr>
            <tr th:each="review: ${reviews}">
                <td th:text="${review.text}"/>
                <td sec:authorize="isAuthenticated()">
                    <a th:href="@{/movie/select_movie/{imdbID}/review/{id}(imdbID=${movie.imdbID},id=${review.id})}" class="btn btn-outline-primary">
                        <span>Rate it!</span>
                    </a>
                </td>
            </tr>
        </table>

        <br>


    </div>
</div>
    </br></br>


</body>
</html>