<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web demo index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body id="app-body">
<div class="container">
    <h3>GROUP RARDB_2 FINAL WORK </h3>
    <h1>THE BEST WAY TO COMMENT THE MOVIES!</h1>
    <a th:href="@{/movie}" class="btn btn-outline-primary"> WELCOME! </button></a>
    <br/><br/>
    <img src="https://c4.wallpaperflare.com/wallpaper/123/991/646/avatar-blue-skin-james-cameron-s-movie-avatar-movie-poster-wallpaper-preview.jpg">
</div>
</body>
</html>