<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div class="welcome"><span sec:authentication="name"> </span>
</div>
    <title>Comment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
th {
text-align: center;
}
</style>
</head>
<body>
<div class="btn-group" role="group" aria-label="Basic example">
    <a th:href="@{/movie}" class="btn btn-outline-primary"> Home </a>
    <a th:href="@{/}" class="btn btn-outline-primary"> To Welcome Page </a>
    <a th:href="@{/login}" class="btn btn-outline-primary" sec:authorize="!isAuthenticated()"> Log In </a>
    <a th:href="@{/logout}" class="btn btn-outline-primary" sec:authorize="isAuthenticated()"> Log Out </a>
</div> <br>
<div class="welcome"> Logged in as: <span sec:authentication="name"> </span></div>
<div class="container">
    <td th:text="${movie.title}"/>
    <td th:text="${movie.year}" />
    <td>
        <img th:src="${movie.poster}" height="300px"/>
    </td>
    <form action="#"
          th:action="@{/movie/myComment}"
          th:object="${movie}" method="post">
        <div class="row">
            <div class="form-group col-md-8">

                <label for="review" class="col-form-label"> MY COMMENT </label>
                <input type="text" th:field="*{review}" class="form-control" id="review">
                <span th:if="${#fields.hasErrors('review')}" th:errors="*{review}" class="text-danger"/>
            </div>
            <!--    <div class="form-group col-md-8">
                    <label for="rating" class="col-form-label"> MY RANK (1-5) </label>
                    <input type="text" th:field="*{rating}" class="form-control" id="rating">
                    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="text-danger"/>
                </div> -->
                <div class="form-group col-md-8">
                    <input type="submit" class="btn btn-primary" value="ADD COMMENT">
                </div>
        </div>
        </form>

        <div>
            <a th:href="@{/movie}" class="btn btn-outline-primary"> BACK TO SEARCH MOVIE </button></a>
            <a th:href="@{/}" class="btn btn-outline-primary"> EXIT </button></a>
            <a th:href="@{/login}" class="btn btn-outline-primary"> LOGIN </a>
            <a th:href="@{/logout}" class="btn btn-outline-primary"> LOGOUT </button></a>

        </div>
    </div>

</br></br>
<img src= "https://c1.wallpaperflare.com/preview/39/122/576/film-movie-cinema-reel.jpg" style="width:100%" height="250px"/>
    </body>
    </html>