<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Movie list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    </form>
    <br>
    <div
        class="welcome"> <span sec:authentication="name"> </span>

    <h3>CLICK ON THE MOVIE TO SEE THE COMMENTS OR LEAVE YOUR COMMENT</h3>
    <div th:if="${not #lists.isEmpty(movieSearch)}">
        <table class="table table-bordered">
            <tr>
                <th>TITLE</th>
                <th>YEAR</th>
                <th>TYPE</th>
                <th>POSTER</th>
                <th>ACTIONS</th>
            </tr>
            <tr th:each="movieCandidate : ${movieCandidates}">
                <td th:text="${movieCandidate.title}"/>
             <!--   <td>
                    <a th:href="@{/movie/select_movie/{imdbID}(imdbID=${movieCandidate.imdbID})}}" > "th:text="${movieCandidate.title}" </a>
                </td> -->

           <!--     <td th:text="${movieCandidate.title}"/>  -->
                <td th:text="${movieCandidate.year}"/>
                <td th:text="${movieCandidate.type}"/>
                <td>
                    <img th:src="${movieCandidate.poster}" height="150px"/>
                </td>
                <td>
                    <a th:href="@{/movie/select_movie/{id}(id=${movieCandidate.imdbID})}" class="btn btn-outline-primary">
                        <span>Read more</span>
                    </a>
                </td>
            </tr>
        </table>

    </div>
    <div th:unless="${not #lists.isEmpty(movieCandidates)}">
        <div class="card">
            <div class="card-body">
                No movies with similar name
            </div>
        </div>
    </div>
    <br/><br/>
    <div>
        <a th:href="@{/movie}" class="btn btn-outline-primary"> BACK TO SEARCH MOVIE </button></a>
        <a th:href="@{/}" class="btn btn-outline-primary"> EXIT </button></a>
        <a th:href="@{/login}" class="btn btn-outline-primary"> LOGIN </a>
            <a th:href="@{/logout}" class="btn btn-outline-primary"> LOGOUT </button></a>

    </div>
</div>
</div>
</body>
</html>